
extends layout

block content
  include author
  each article in articles
    a(class="listing-link listing-link-" + article.metadata.file href=article.url)
      div(class="listing-image listing-image-" + article.metadata.file style="background-image: url('articles/" + article.metadata.file + "/" + article.metadata.indexImage + "');")
      div(class="listing-details listing-details-" + article.metadata.file)
        p #{ article.title }

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) &laquo; Newer
    else
      a(href='/archive.html') &laquo; Archives
    if nextPage
      a(href=nextPage.url) Next page &raquo;
